<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>AppUsers</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/grid/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d7b26806ab.js" crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS -->
    <link href="/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="grid.css" rel="stylesheet">
</head>
<body>
<main>
    <div class="px-4 py-5 my-5 text-center">
        <h1><b>AppUsers</b></h1>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center" style = "padding: 50px;" >
            <a href="/">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Back</button>
            </a>
        </div>
        <div class ="card container my-4">
            <div class = "row">
                <table class ="table table-striped table-borderd my-0">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Email</th>
                            <th scope="col">Username</th>
                            <th scope="col">Password</th>
                            <th scope="col">Events</th>
                            <th scope="col">Todos</th>
                            <th scope="col">Team</th>
                        </tr>
                    </thead>
                    <tr th:each ="appuser : ${appUsers}">
                        <th scope="row" th:text="${appuser.id}">ID</th>
                        <td th:text="${appuser.email}">Name</td>
                        <td th:text="${appuser.username}">Username</td>
                        <td th:text="${appuser.password}">Password</td>
                        <td th:text="${thUtils.listEventIds(appuser.events)}">Events</td>
                        <td th:text="${thUtils.listTodoIds(appuser.todos)}">Todos</td>
                        <td th:text="${thUtils.getTeamName(appuser.team)}">Team</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="card col-md-5 container">
                <div class="card-body">
                    <h5 class="card-title">Register User</h5>
                    <form class="p-2" th:action="@{/createAppUser}" th:object="${newAppUser}" method="post">
                        <div class="form-group row text-start">
                            <label for="email" class="col-form-label">Email:</label>
                            <input class="form-control" th:field="*{email}" id="email"/><br/>
                        </div>
                        <div class="form-group row text-start">
                            <label for="username" class="col-form-label">Username:</label>
                            <input class="form-control" th:field="*{username}" id="username"/><br/>
                        </div>

                        <div class="form-group row text-start">
                            <label for="password" class="col-form-label">Password:</label>
                            <input class="form-control" th:field="*{password}" id="password"/><br/>
                        </div>
                        <input type="submit" class="btn btn-primary mt-2" value="Add"/>
                    </form>
                </div>
            </div>

            <div class="card col-md-5 container">
                <div class="card-body">
                    <h5 class="card-title">Update User</h5>
                    <form class="p-2" th:action="@{/updateAppUser}" th:object="${updateAppUser}" method="post">
                        <div class="form-group row text-start">
                            <label for="id2" class="col-form-label">ID:</label>
                            <input class="form-control" th:field="*{id}" id="id2"/><br/>
                        </div>
                        <div class="form-group row text-start">
                            <label for="email2" class="col-form-label">Email:</label>
                            <input class="form-control" th:field="*{email}" id="email2"/><br/>
                        </div>
                        <div class="form-group row text-start">
                            <label for="username2" class="col-form-label">Username:</label>
                                <input class="form-control" th:field="*{username}" id="username2"/><br/>
                        </div>

                        <div class="form-group row text-start">
                            <label for="password2" class="col-form-label">Password:</label>
                            <input class="form-control" th:field="*{password}" id="password2"/><br/>
                        </div>
                        <input type="submit" class="btn btn-primary mt-2" value="Update"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>


</body>
</html>