<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>AppUsers</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/grid/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d7b26806ab.js" crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS -->
    <link href="/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="grid.css" rel="stylesheet">
</head>
<body>
<main>
    <div class="px-4 py-5 my-5 text-center">
        <h1><b>AppUsers</b></h1>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center" style = "padding: 50px;" >
            <a href="/">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Back</button>
            </a>
        </div>
        <div class ="container">
            <div class = "row">
                <table class ="table table-striped table-borderd">
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Events</th>
                        <th>Todos</th>
                        <th>Team</th>
                    </tr>
                    <tr th:each ="appuser : ${appUsers}">
                        <th th:text="${appuser.id}">ID</th>
                        <th th:text="${appuser.email}">Name</th>
                        <th th:text="${appuser.username}">Username</th>
                        <th th:text="${appuser.password}">Password</th>
                        <th th:text="${thUtils.listEventIds(appuser.events)}">Events</th>
                        <th th:text="${thUtils.listTodoIds(appuser.todos)}">Todos</th>
                        <th th:text="${thUtils.getTeamName(appuser.team)}">Team</th>
                    </tr>
                </table>
            </div>
        </div>
        <form th:action="@{/createAppUser}" th:object="${newAppUser}" method="post">
            <div class="form-group" style = "padding: 10px;">
                <label for="email">Email:</label>
                <input th:field="*{email}" id="email"/><br/>
            </div>

            <div class="form-group" style = "padding: 10px;">
                <label for="username">Username:</label>
                <input th:field="*{username}" id="username"/><br/>
            </div>

            <div class="form-group" style = "padding: 10px;">
                <label for="password">Password:</label>
                <input th:field="*{password}" id="password"/><br/>
            </div>

            <input type="submit" value="Add"/>
        </form>
    </div>
</main>


</body>
</html>