<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Events</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/grid/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d7b26806ab.js" crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS -->
    <link href="/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="grid.css" rel="stylesheet">
</head>
<body>
<main>
    <div class="px-4 py-5 my-5 text-center">
        <h1><b>Events</b></h1>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center" style = "padding: 50px;" >
            <a href="/">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Back</button>
            </a>
        </div>
        <div class ="container">
            <div class = "row">
                <table class ="table table-striped table-borderd">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Team</th>
                        <th>Time</th>
                        <th>Creator</th>
                        <th>Todos</th>
                        <th>Participants</th>
                        <th>Actions</th>
                    </tr>
                    <tr th:each ="event : ${events}">
                        <th th:text="${event.id}">ID</th>
                        <th th:text="${event.name}">Name</th>
                        <th th:text="${event.team}">Team</th>
                        <th th:text="${event.time}">Time</th>
                        <th th:text="${event.creator}">Creator</th>
                        <th th:text="${event.todos}">Todos</th>
                        <th th:text="${event.participants}">Participants</th>
                        <th>
                            <a href="/removeEvent" class="btn btn-sm btn-danger" th:action="@{/removeEvent}" th:object="${event.id}" data-th-method="delete"><i
                                    class="far fa-trash-alt"></i></a>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        <form th:action="@{/createEvent}" th:object="${newEvent}" method="post">
            <div class="form-group" style = "padding: 10px;">
                <label for="name">Name:</label>
                <input th:field="*{name}" id="name"/><br/>
            </div>

            <div class="form-group" style = "padding: 10px;">
                <label for="team">TeamId:</label>
                <input th:field="*{team}" id="team"/><br/>
            </div>

            <div class="form-group" style = "padding: 10px;">
                <label for="creator">CreatorId:</label>
                <input th:field="*{creator}" id="creator"/><br/>
            </div>

            <input type="submit" value="Add"/>
        </form>
    </div>
</main>


</body>
</html>