<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Organizations</title>
</head>
<body>

    <table>
        <tr>
            <th>Name</th>
        </tr>
        <tr th:each ="organization : ${organizations}">
            <td th:text="${organization.name}">Name</td>
        </tr>
    </table>

    <form th:action="@{/createOrganization}" th:object="${organization}" method="post">
        Name: <input th:field="*{name}"/><br/>
        <input type="submit" value="Add"/>
    </form>

</body>
</html>