<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Places</title>
</head>
<body>

<table>
    <tr>
        <th>Name</th>
        <th>Google Code</th>
        <th>Latitude</th>
        <th>Longitude</th>
    </tr>
    <tr th:each ="place : ${places}">
        <td th:text="${place.name}">Name</td>
        <td th:text="${place.googleCode}">Google Code</td>
        <td th:text="${place.latitude}">latitude</td>
        <td th:text="${place.longitude}">longitude</td>
    </tr>
</table>

<form th:action="@{/createPlace}" th:object="${place}" method="post">
    Name: <input th:field="*{name}"/><br/>
    Google Code: <input th:field="*{googleCode}"/><br/>
    Latitude: <input th:field="*{latitude}"/><br/>
    Longitude: <input th:field="*{longitude}"/><br/>
    <input type="submit" value="Add"/>
</form>

</body>
</html>