<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Teams</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/grid/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d7b26806ab.js" crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS -->
    <link href="/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="grid.css" rel="stylesheet">
</head>
<body>
<main>
    <div class="px-4 py-5 my-5 text-center">
        <h1><b>Teams</b></h1>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center" style = "padding: 50px;" >
            <a href="/">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Back</button>
            </a>
        </div>
        <div class ="card container my-4">
            <div class = "row">
                <table class ="table table-striped table-borderd my-0">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">AdminAppUsers</th>
                            <th scope="col">AppUsers</th>
                            <th scope="col">Organization</th>
                        </tr>
                    </thead>
                    <tr th:each ="team : ${teams}">
                        <th scope="row" th:text="${team.id}">ID</th>
                        <td th:text="${team.name}">Name</td>
                        <td th:text="${thUtils.listAppUserNames(team.adminAppUsers)}">Admin Users</td>
                        <td th:text="${thUtils.listAppUserIds(team.appUsers)}">AppUsers</td>
                        <td th:text="${thUtils.getOrganizationName(team.organization)}">Organization</td>
                    </tr>
                </table>
            </div>
        </div>
            <div class="row">
                <div class="row">
                    <div class="card col-md-5 container">
                        <div class="card-body">
                            <h5 class="card-title">Create Event</h5>
                            <form class="p-2" th:action="@{/createTeam}" th:object="${newTeam}" method="post">
                                <div class="form-group row text-start">
                                    <label for="name" class="col-form-label">Name:</label>
                                    <input th:field="*{name}" id="name"/><br/>
                                </div>
                    
                                <div class="form-group row text-start">
                                    <label for="creatorId" class="col-form-label">Creator ID:</label>
                                    <input th:field="*{creatorId}" id="creatorId"/><br/>
                                </div>
                    
                                <div class="form-group row text-start">
                                    <label for="organization" class="col-form-label">Organization ID:</label>
                                    <input th:field="*{organizationId}" id="organization"/><br/>
                                </div>
                    
                                <input type="submit" class="btn btn-primary mt-2" value="Add"/>
                            </form>
                        </div>
                    </div>
                    <div class="card col-md-5 container">
                        <div class="card-body">
                            <h5 class="card-title">Rename Team</h5>
                            <form class="p-2" th:action="@{/renameTeam}" th:object="${renameTeam}" method="post">
                                <div class="form-group row text-start">
                                    <label for="id" class="col-form-label">Team ID:</label>
                                    <input th:field="*{id}" id="id"/><br/>
                                </div>
                                <div class="form-group row text-start">
                                    <label for="name" class="col-form-label">Name:</label>
                                    <input th:field="*{name}" id="name"/><br/>
                                </div>
                                <input type="submit" class="btn btn-primary mt-2" value="Add"/>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card col-md-5 container">
                        <div class="card-body">
                            <h5 class="card-title">Join team</h5>
                            <form class="p-2" th:action="@{/joinTeam}" th:object="${joinTeam}" method="post">
                                <div class="form-group row text-start">
                                    <label for="id" class="col-form-label">Team ID:</label>
                                    <input th:field="*{teamId}" id="id"/><br/>
                                </div>
    
                                <div class="form-group row text-start">
                                    <label for="userId" class="col-form-label">User ID:</label>
                                    <input th:field="*{userId}" id="userId"/><br/>
                                </div>
                    
                                <input type="submit" class="btn btn-primary mt-2" value="Add"/>
                            </form>
                        </div>
                    </div>
    
                    <div class="card col-md-5 container">
                        <div class="card-body">
                            <h5 class="card-title">Leave Team</h5>
                            <form class="p-2" th:action="@{/leaveTeam}" th:object="${leaveTeam}" method="post">
                                <div class="form-group row text-start">
                                    <label for="id" class="col-form-label">Team ID:</label>
                                    <input th:field="*{teamId}" id="id"/><br/>
                                </div>
    
                                <div class="form-group row text-start">
                                    <label for="userId" class="col-form-label">User ID:</label>
                                    <input th:field="*{userId}" id="userId"/><br/>
                                </div>
                    
                                <input type="submit" class="btn btn-primary mt-2" value="Remove"/>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card col-md-5 container">
                        <div class="card-body">
                            <h5 class="card-title">Add Team Admin</h5>
                            <form class="p-2" th:action="@{/addTeamAdmin}" th:object="${addAdmin}" method="post">
                                <div class="form-group row text-start">
                                    <label for="id" class="col-form-label">Team ID:</label>
                                    <input th:field="*{teamId}" id="id"/><br/>
                                </div>
    
                                <div class="form-group row text-start">
                                    <label for="userId" class="col-form-label">User ID:</label>
                                    <input th:field="*{userId}" id="userId"/><br/>
                                </div>
                    
                                <input type="submit" class="btn btn-primary mt-2" value="Add"/>
                            </form>
                        </div>
                    </div>
    
                    <div class="card col-md-5 container">
                        <div class="card-body">
                            <h5 class="card-title">Remove Team Admin</h5>
                            <form class="p-2" th:action="@{/removeTeamAdmin}" th:object="${removeAdmin}" method="post">
                                <div class="form-group row text-start">
                                    <label for="id" class="col-form-label">Team ID:</label>
                                    <input th:field="*{teamId}" id="id"/><br/>
                                </div>
    
                                <div class="form-group row text-start">
                                    <label for="userId" class="col-form-label">User ID:</label>
                                    <input th:field="*{userId}" id="userId"/><br/>
                                </div>
                    
                                <input type="submit" class="btn btn-primary mt-2" value="Remove"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>


</body>
</html>